<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Contact Me</title>
</head>
<body>
    <div>
        <h1>Contact Me!</h1>
        <h3>I probably shouldn't expose my information here.</h3>
        <p>Here's my GitHub profile i guess.</p>
        <a href="https://github.com/JaxChoong" target="_blank">Click Me</a>
    </div>
    <%- include('../components/footer') %>
</body>
</html>